<div class="extension-form">
    <select class="input-form" name="status">
        <option value="">{{ text_status }}</option>
        <option value="0"{% if status == "0" %}selected="selected"{% endif %}>{{ text_disabled }}</option>
        <option value="1"{% if status == "1" %}selected="selected"{% endif %}>{{ text_enabled }}</option>
    </select>
    
    <input type="text" class="input-form" name="title" placeholder="{{ text_title_extension }}" value="{{ title }}" />
    
    <p>{{ text_data_color }}</p>
    <input type="color" class="input-form" name="data_color" value="{{ data_color }}" />
    
    <p>{{ text_bgcolor }}</p>
    <input type="color" class="input-form" name="bgcolor" value="{{ bgcolor }}" />
    
    <select class="input-form" name="fill">
        <option value="">{{ text_fill }}</option>
        <option value="0"{% if fill == "0" %}selected="selected"{% endif %}>{{ text_disabled }}</option>
        <option value="1"{% if fill == "1" %}selected="selected"{% endif %}>{{ text_enabled }}</option>
    </select>
    
    <input type="text" class="input-form" name="order" placeholder="{{ text_order_extension }}" value="{{ order }}" />
</div>