<div class="container">
    <table class="form table-form" style="margin-left:0px">
        <thead>
			<tr>
				<th colspan="3">
					<div class="TitleContainer">
						<span>{{ title }}</span>
					</div>
				</th>
			</tr>
            <tr>
                {% if last_contacts %}
                    <th>{{ text_number }}</th>
                    <th>{{ text_subject }}</th>
                    <th>{{ text_time }}</th>
                {% else %}
                    <th><center><h2 class="empty">{{ text_empty_data }}<h2></center></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% if last_contacts %}
                {% for last_contact in last_contacts %}
                <tr>
                    <td>{{ last_contact.number }}</td>
                    <td>{{ last_contact.subject }}</td>
                    <td>{{ last_contact.date }}</td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
