<div class="container">
    <div class="card-body form">
        <div class="TitleContainer">
			<span>{{ title }}</span>
		</div>
        <div id="chart-most-attendant" style="width: 100%; height: 260px;"></div>
    </div>
</div>

<script>
    var yaxis = [{% for most_attendant in most_attendants %}[{{ most_attendant.id }}, "{{ most_attendant.attendant_name }}"]{% if most_attendant.id+1 < total %},{% endif %}{% endfor %}];
    
    var option = {
        shadowSize: 0,
        colors: ["{{ most_attendant_color }}"],
        bars: {
            show: true,
            fill: {% if fill %}true{% else %}false{% endif %},
            lineWidth: 1,
            horizontal: true
        },
        grid: {
            backgroundColor: "{{ most_attendant_bgcolor }}",
            hoverable: true
        },
        points: {
            show: false
        },
        yaxis: {
            show: true,
            ticks: yaxis
        },
        tooltip: true,
        tooltipOpts: {
          content: "%x"
        }
    }
    
    data_attendant = [];
    data_attendant["data"] = [{% for most_attendant in most_attendants %}[{{ most_attendant.total }}, {{ most_attendant.id }}]{% if most_attendant.id+1 < total %},{% endif %}{% endfor %}];
    
    $.plot("#chart-most-attendant", [data_attendant], option);

    $("#chart-most-attendant").bind("plothover", function (event, pos, item) {
        $(".tooltip").remove();

        if (item) {
            $("<div id=\"tooltip\" class=\"tooltip top show\"><div class=\"tooltip-arrow\"></div><div class=\"tooltip-inner\">" + item.datapoint[1].toFixed(2) + "</div></div>").prependTo("body");

            $("#tooltip").css({
                "position": "absolute",
                "visibility": "hidden"
            }).fadeIn("slow");

            $("#chart-most-attendant").css("cursor", "pointer");
        } else {
            $("#chart-most-attendant").css("cursor", "auto");
        }
    });
</script>
