html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}
.container {
    width: 100%;
    /*height: 100%;*/
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.TitleContainer {
    padding: 5px;
    font-size: 18px;
    color: #4c4d5a;
    border-color: #dcdcdc;
    background: #f6f6f6;
    text-shadow: 0 -1px 0 rgba(50,50,50,0);
}
a {
    color: #000;
    text-decoration: none;
}
i {
    cursor: pointer;
}
h2, h3 {
    margin-left: 24px;
    margin-right: 24px;
}
.img {
	display: block;
	margin: 16px auto;
}
.mainMenu {
    margin-top: 10px;
    text-align: center;
}
.mainMenu li {
    padding: 10px;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}
.welcome {
    text-align: center;
    font-weight: 900;
}
.error {
    color: #FF0000;
    font-size: 18px;
    text-align: center;
}
.msg {
    color: #32CD32;
    font-size: 18px;
    text-align: center;
}
.form {
    padding-bottom: 12px;
    box-shadow: 1px 1px 4px 4px;
}
.table-form {
    margin-left: 10%;
}
.table-form th, .table-form td {
    text-align: left !important;
}
.button-add {
    background-color: #32CD32;
    color: #FFFFFF;
    height: 40px;
    font-size: 18px;
    text-align: right;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    float: right;
    margin-right: 10%;
    margin-bottom: 16px;
    cursor: pointer;
}
.button-add-option, .button-add-response {
    background-color: #32CD32;
    color: #FFFFFF;
    height: 40px;
    font-size: 18px;
    text-align: right;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    float: right;
    margin-right: 24px;
    margin-top: 10px;
    cursor: pointer;
}
textarea {
    resize: none;
    height: 120px !important;
}
#date-menu span, #extension-menu span {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 15px;
    cursor: pointer;
}
#date-menu .active, #extension-menu .active {
    text-decoration: underline;
}
@media screen and (min-width: 767px) {
    .form {
        width: 50%;
    }
    #dialog {
        width: 480px;
        height: 560px;
    }
}
@media screen and (max-width: 767px) {
    .form {
        width: 80%;
    }
    #dialog {
        width: 80%;
        height: 80%;
    }
}
#dialog {
    overflow-x: hidden;
    overflow-y: auto;
}
.input-form, .button-form, .check-form {
    margin-top: 20px;
}
.input-form {
    margin-left: 10%;
    width: 80%;
    height: 40px;
}
.check-form {
    margin-left: 10%;
    width: 80%;
    height:80px;
    background-color: #EEEEEE;
    overflow-y: scroll;
}
#msgOptions, #msgResponses, #msgClientResponses {
    margin-left: 10%;
    width: 80%;
    height: 136px;
    background-color: #EEEEEE;
    overflow-y: scroll;
}
.close-icon {
    font-size: 32px;
    right: 0px;
    top: 0px;
    position: absolute;
}
.button-form {
    margin-left: 50%;
    transform: translate(-50%, 0%);
    height: 40px;
    background-color: #32CD32;
    color: #FFFFFF;
    cursor: pointer;
}
.button-form-disabled {
    cursor: not-allowed;
    
    background-color: #bbb;
}
#message-template-input-vars {
    display: none;
    background: #eee;
    width: 80%;
    margin-left: 10%;
    padding: 0px 0px 20px 0px;
}
@media screen and (max-width: 500px) {
    .button-form {
        width: 80%;
    }
    .empty {
        padding-top: 80px!important;
    }
}
@media screen and (min-width: 500px) {
    .button-form {
        width: 280px;
    }
}