{{ header }}

    <div class="container">
        <form class="form" action="{{ action }}" method="post">
            <h2 class="welcome">{{ title }}</h2>
            
            <select class="input-form" name="status" required>
                <option value="">{{ text_option_select_message_status }}</option>
                <option value="1"{% if status == "1" %}selected="selected"{% endif %}>{{ text_enabled }}</option>
                <option value="0"{% if status == "0" %}selected="selected"{% endif %}>{{ text_disabled }}</option>
            </select>
            
            <input class="input-form" type="text" name="message_title" value="{{ message_title }}" placeholder="{{ text_placeholder_message_title }}" minlength="3" maxlength="24" required />
            
            <select class="input-form" name="is_self" onchange="getAllAttendants('{{ url_get_all_attendants }}', '{{ text_option_select_attendant_id }}');">
                <option value="">{{ text_option_select_send_to }}</option>
                <option value="1"{% if is_self == "1" %}selected="selected"{% endif %}>{{ text_option_select_send_to_customer }}</option>
                <option value="0"{% if is_self == "0" %}selected="selected"{% endif %}>{{ text_option_select_send_to_attendant }}</option>
            </select>
            
            <select class="input-form" name="attendant_id" style="display: none">
                <option value="">{{ text_option_select_attendant_id }}</option>
            </select>
            
            <select class="input-form" name="finish">
                <option value="">{{ text_option_select_action_finish_conversation }}</option>
                <option value="1"{% if finish == "1" %}selected="selected"{% endif %}>{{ text_enabled }}</option>
                <option value="0"{% if finish == "0" %}selected="selected"{% endif %}>{{ text_disabled }}</option>
            </select>
            
            <select class="input-form" name="type" onchange="changeMessageType();" required>
                <option value="">{{ text_option_select_message_type }}</option>
                <option value="text" {% if type == "text" %}selected="selected"{% endif %}>{{ text_option_message_type_text }}</option>
                <!--<option value="image" {% if type == "image" %}selected="selected"{% endif %}>Imagem</option>-->
                <option value="interactive" {% if type == "interactive" %}selected="selected"{% endif %}>{{ text_option_message_type_interactive }}</option>
                <option value="media" {% if type == "media" %}selected="selected"{% endif %}>{{ text_option_message_type_media }}</option>
                <option value="template" {% if type == "template" %}selected="selected"{% endif %}>{{ text_option_message_type_template }}</option>
            </select>
            
            {% set row_options = 0 %}
            <div id="msgOptions" {% if type != "interactive" %}style="display: none"{% endif %}>
                <table name="msgOptions">
                    <thead>
                        <tr>
                            <th>{{ text_th_option_title }}</th>
                            <th>{{ text_th_option_description }}</th>
                            <th>{{ text_th_option_sort_order }}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for message_option in message_options %}
                            <tr id="msg-option-{{ row_options }}">
                                <td style="display: none"><input type="hidden" name="message_option[{{ row_options }}][id]" value="{{ message_option.id }}" /></td>
                                <td><input type="text" name="message_option[{{ row_options }}][option_title]" value="{{ message_option.option_title }}" /></td>
                                <td><input type="text" name="message_option[{{ row_options }}][option_description]" value="{{ message_option.option_description }}" /></td>
                                <td><input type="text" name="message_option[{{ row_options }}][option_sort_order]" value="{{ message_option.option_sort_order }}" /></td>
                                <td><i class="fa fa-minus" onclick="RemoveMsgOption({{ row_options }})"></i></td>
                            </tr>
                            
                            {% set row_options = row_options + 1 %}
                        {% endfor %}
                    </tbody>
                </table>
                
                <a class="button-add-option" onclick="AddMsgOption()">{{ text_button_add }}</a>
            </div>
            
            <div id="msgMediaType" {% if type != "media" %}style="display: none"{% endif %}>
                <select class="input-form" name="message_content[type]">
                    <option value="">{{ text_option_select_message_type_media }}</option>
                    <option value="image" {% if message_content.type == 'image' %}selected="selected"{% endif %}>{{ text_option_message_media_type_image }}</option>
                    <option value="video" {% if message_content.type == 'video' %}selected="selected"{% endif %}>{{ text_option_message_media_type_video }}</option>
                    <option value="audio" {% if message_content.type == 'audio' %}selected="selected"{% endif %}>{{ text_option_message_media_type_audio }}</option>
                    <option value="document" {% if message_content.type == 'document' %}selected="selected"{% endif %}>{{ text_option_message_media_type_document }}</option>
                </select>
                
                <input class="input-form" name="message_content[url]" placeholder="{{ text_placeholder_message_media_url }}" value="{{ message_content.url }}"></input>
            </div>
            
            <div id="msgTemplate" {% if type != "template" %}style="display: nome;"{% endif %}>
                {% if templates %}
                    <select class="input-form" name="message_content[template][id]" onchange="changeMessageTemplateVars();">
                    <option value="">{{ text_option_select_message_template }}</option>
                    {% for template in templates %}
                        <option value="{{ template.id }}|{{ template.name}}|{{ template.language }}" template-content="{% for component in template.components %}{% if component.type == 'BODY' %}{{ component.text }}{% endif %}{% endfor %}" {% if message_content.template.id == template.id %}selected="selected"{% endif %}>{{ template.name }} - {{ template.category }} ({{ template.language }}) </option>
                    {% endfor %}
                    </select>
                    
                    <div id="message-template-content">
                        <h3 style="display: none;">{{ text_message_template_content }}</h3>
                        
                        <div id="template-header-content"></div>
                        
                        {% for template in templates %}
                            {% for component in template.components %}
                                {% if component.type == 'HEADER' %}
                                    <textarea class="input-form template-content" name="template-content-{{ template.id }}-header" style="display: none;">{% if component.format == 'TEXT' %}{{ component.text }}{% endif %}{% if component.format == 'IMAGE' %}<img src="{{ component.example.header_handle.0 }}" style="width: 80%;margin-left: 10%;"></img>{% endif %}</textarea>
                                    <div id="template-content-{{ template.id }}-header"></div>
                                {% endif %}
                                
                                {% if component.type == 'BODY' %}
                                    <textarea class="input-form template-content" name="template-content-{{ template.id }}-body" {% if message_content.template.id != template.id %}style="display: none;"{% endif %}>{{ component.text }}</textarea>
                                {% endif %}
                                
                                {% if component.type == 'FOOTER' %}
                                    <textarea class="input-form template-content" name="template-content-{{ template.id }}-footer" {% if message_content.template.id != template.id %}style="display: none;"{% endif %}>{{ component.text }}</textarea>
                                {% endif %}
                                
                                {% if component.type == 'BUTTONS' %}
                                    <textarea class="input-form template-content" name="template-content-{{ template.id }}-buttons" {% if message_content.template.id != template.id %}style="display: none;"{% endif %}>{% for button in component.buttons %}<button type="button">{{ button.text }}</button>{% endfor %}</textarea>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        
                        <div id="template-footer-content"></div>
                        <div id="template-buttons-content"></div>
                    </div>
                    <div id="message-template-input-vars" style="display: block;">
                        {% set template_var_i = 1 %}
                        {% for template_var in message_content.template.vars %}
                            <input class="input-form" name="message_content[template][vars][{{ template_var_i }}]" type="text" value="{{ template_var }}"></input>
                            
                            {% set template_var_i=template_var_i+1 %}
                        {% endfor %}
                    </div>
                    <script type="text/javascript"><!--
                        changeMessageTemplateVars();
                    </script>
                {% endif %}
            </div>
            
            <select class="input-form" name="event" onchange="changeMessageEvent();">
                <option value="">{{ text_option_select_event }}</option>
                <option value="response"{% if event == "response" %}selected="selected"{% endif %}>{{ text_option_select_event_message_response }}</option>
                <option value="started_by_attendant"{% if event == "started_by_attendant" %}selected="selected"{% endif %}>{{ text_option_select_event_message_started_by_attendant }}</option>
                <option value="finished_by_attendant"{% if event == "finished_by_attendant" %}selected="selected"{% endif %}>{{ text_option_select_event_message_finished_by_attendant }}</option>
                <option value="finished_by_customer"{% if event == "finished_by_customer" %}selected="selected"{% endif %}>{{ text_option_select_event_message_finished_by_customer }}</option>
                <option value="timeout"{% if event == "timeout" %}selected="selected"{% endif %}>{{ text_option_select_event_timeout }}</option>
            </select>
            
            {% set row_responses = 0 %}
            <div id="msgResponses" {% if event != "response" %}style="display: none"{% endif %}>
                <table name="msgResponses">
                    <thead>
                        <tr>
                            <th>{{ text_th_message_title }}</th>
                            <th>{{ text_th_message_option_title }}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for message_response in message_responses %}
                            <tr id="msg-response-{{ row_responses }}">
                                <td style="display: none"><input type="hidden" name="message_response[{{ row_responses }}][id]" value="{{ message_response.id }}" /></td>
                                <td>
                                    <select name="message_response[{{ row_responses }}][message_id]" onchange="getMessage('{{ url_get_message }}', this.value, '{{ row_responses }}');">
                                        <option value="">{{ text_option_select_message }}</option>
                                        {% for message in messages %}
                                            <option value="{{ message.id }}" {% if message.id == message_response.message_id %}selected="selected"{% endif %}>{{ message.message_title }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td id="td_select_message_option_event_response_{{ row_responses }}">
                                    <select name="message_response[{{ row_responses }}][option_id]">
                                        <option value="">{{ text_option_select_message_option }}</option>
                                        {% for message_option in message_response.options %}
                                        <option value="{{ message_option.id }}" {% if message_response.option_id == message_option.id %}selected="selected"{% endif %}>{{ message_option.option_title }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    <i class="fa fa-minus" onclick="RemoveMsgResponse('{{ row_responses }}')"></i>
                                </td>
                            </tr>
                            
                            {% set row_responses = row_responses + 1 %}
                        {% endfor %}
                    </tbody>
                </table>
                
                <a class="button-add-response" onclick='AddMsgResponse("{{ url_get_message }}", "<option value=\"\">{{ text_option_select_message }}</option>{% for message in messages %}<option value=\"{{ message.id }}\">{{ message.message_title }}</option>{% endfor %}", "{{ text_option_select_message_option }}");'>{{ text_button_add }}</a>
            </div>
            
            <div class="input-form" id="checkbox_message_init">
                <input type="checkbox" name="is_init" id="message_init" {% if is_init %}checked{% endif %} /><label for="message_init">{{ text_label_send_init }}</label>
            </div>
            
            <h3>{{ text_title_keyword }}</h3>
            
            <input class="input-form" type="text" name="message_keyword" value="{{ message_keyword }}" placeholder='{{ text_placeholder_keyword }}' />
            
            <h3>{{ text_title_message_content }}</h3>
            
                <input type="checkbox" name="message_content[is_self]" id="message_self" {% if message_content.is_self %}checked{% endif %} style="display: none;" />{#<label for="message_self" style="nome;">{{ text_label_send_self }}</label>#}
            
            <textarea class="input-form" name="message_content[content]" placeholder="{{ text_placeholder_send_message }}" value="{{ message_content.content }}"{% if message_content.is_self %}style=""{% endif %} >{{ message_content.content }}</textarea>
            
            <input type="hidden" name="{{ token_name }}" value="{{ token_value }}" />
            
            <input type="submit" class="button-form" name="submit" value="{{ send }}" />
            
            {% if error %}<p class="error">{{ error }}</p>{% endif %}
        </form>
        
    </div>
    
<script>
    $(document).ready(function() {
        {% if is_self == "0" and attendant_id != 0 %}
            setTimeout(function() {
                getAllAttendants('{{ url_get_all_attendants }}', '{{ text_option_select_attendant_id }}');
            }, 1000);
            
            setTimeout(function() {
                $('select[name="attendant_id"] option[value="{{ attendant_id }}"]').prop('selected', true);
            }, 2000);
        {% endif %}
    });
</script>
    
<input type="text" name="row_options" value="{{ row_options }}" style="display:  none" />
<input type="text" name="row_responses" value="{{ row_responses }}" style="display: none" />

{{ footer }}