{{ header }}

<div class="container">
    <table class="form table-form" style="margin-left: 0px;">
        <thead>
            <tr>
                {% if reports %}
                    <th>Relatório</th>
                    <th></th>
                {% else %}
                    <th><center><h2 class="empty">Nenhuma extensão habilitada.<h2></center></th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% if reports %}
                {% for report in reports %}
                    <tr>
                        <td>{{ report.title }}</td>
                        <td><a href="{{ report.edit }}"><i class="fa fa-edit"></i></a></td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>

<dialog id="dialog"></dialog>

<style>
    .message-report {
        font-size: 24px;
    }
    .message-report-absolute {
        display: block;
        text-align: center;
        font-size: 28px;
    }
</style>

{{ footer }}