{{ header }}

{% if msg %}<p class="msg">{{ msg }}</p>{% endif %}

    <div class="container">
        <form class="form" action="{{ action }}" method="post">
            <h2 class="welcome">{{ text_title }}</h2>
            
            <input class="input-form" type="text" name="app_id" value="{{ app_id }}" placeholder="{{ text_placeholder_app_id }}" disabled />
            <input class="input-form" type="text" name="whatsapp_business_account_id" value="{{ whatsapp_business_account_id }}" placeholder="{{ text_placeholder_whatsapp_business_account_id }}" disabled />
            <input class="input-form" type="text" name="token" value="{{ token }}" placeholder="{{ text_placeholder_token }}" disabled />
            <select class="input-form" name="phone_id">
                <option value="">{{ text_option_select_phone }}</option>
                {% for phone_number in phone_numbers %}
                    <option value="{{ phone_number.id }}"{% if phone_id == phone_number.id %}selected="selected"{% endif %}">{{ phone_number.display_phone_number }}</option>
                {% endfor %}
            </select>
            
            <input type="hidden" name="{{ token_name }}" value="{{ token_value }}" />
            
            {% if captcha %}
			    {{ captcha }}
			{% endif %}
            
            <input type="submit" class="button-form" name="submit" value="{{ text_button_submit }}" />
            
            {% if error %}<p class="error">{{ error }}</p>{% endif %}
            
            
        </form>
        
    </div>
{{ footer }}