<div class="extension-form">
    <select class="input-form" name="status">
        <option value="">{{ text_status }}</option>
        <option value="0"{% if status == "0" %}selected="selected"{% endif %}>{{ text_disabled }}</option>
        <option value="1"{% if status == "1" %}selected="selected"{% endif %}>{{ text_enabled }}</option>
    </select>
    
    <p>{{ text_bg_color }}</p>
    <input type="color" class="input-form" name="bg_color" value="{{ bg_color }}" />
    
    <p>{{ text_buttons_bg_color }}</p>
    <input type="color" class="input-form" name="buttons_bg_color" value="{{ buttons_bg_color }}" />
    
    <p>{{ text_buttons_disabled_bg_color }}</p>

    <input type="color" class="input-form" name="buttons_disabled_bg_color" value="{{ buttons_disabled_bg_color }}" />
    
    <p>{{ text_extensions_title_bg_color }}</p>
    <input type="color" class="input-form" name="extensions_title_bg_color" value="{{ extensions_title_bg_color }}" />
    
    <p>{{ text_extensions_title_color }}</p>
    <input type="color" class="input-form" name="extensions_title_color" value="{{ extensions_title_color }}" />
    
    <select class="input-form" name="extensions_title_align">
        <option value="">{{ text_extensions_title_align }}</option>
        <option value="1"{% if extensions_title_align == "1" %}selected="selected"{% endif %}>{{ text_align_left }}</option>
        <option value="2"{% if extensions_title_align == "2" %}selected="selected"{% endif %}>{{ text_align_center }}</option>
        <option value="3"{% if extensions_title_align == "3" %}selected="selected"{% endif %}>{{ text_align_right }}</option>
    </select>
    
    <select class="input-form" name="extensions_title_weight">
        <option value="">{{ text_extensions_title_weight }}</option>
        <option value="1"{% if extensions_title_weight == "1" %}selected="selected"{% endif %}>{{ text_weight_none }}</option>
        <option value="2"{% if extensions_title_weight == "2" %}selected="selected"{% endif %}>{{ text_weight_bold }}</option>
    </select>
    
    <select class="input-form" name="theme_font_id">
        <option value="">{{ text_option_select_font }}</option>
        {% for font in fonts %}
            <option value="{{ font.id }}"{% if font.id == theme_font_id %}selected="selected"{% endif %}>{{ font.name }}</option>
        {% endfor %}
    </select>
</div>