{{ header }}
{% if msg %}<p class="msg">{{ msg }}</p>{% endif %}

{% if error %}<p class="error">{{ error }}</p>{% endif %}

<a class="button-add" href="{{ add }}">{{ text_button_add }}</a>

{% if schedules %}
    <table class="form table-form">
        <thead>
            <tr>
                <th>{{ text_th_id }}</th>
                <th>{{ text_th_schedule }}</th>
                <th>{{ text_th_status }}</th>
                <th>{{ text_th_date }}</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for schedule in schedules %}
            <tr>
                <td>{{ schedule.id }}</td>
                <td>{{ schedule.title }}</td>
                <td>{{ schedule.text_status }}</td>
                <td>{{ schedule.date }}</td>
                {% if schedule.status != 'finished' and schedule.status != 'cancelled' %}
                <td><a href="{{ schedule.edit }}"><i class="fa fa-edit"></i></a></td>
                {% else %}
                    <td></td>
                {% endif %}
                
                {% if schedule.status != 'finished' and schedule.status != 'cancelled' %}
                    <td><a href="{% if schedule.status != 'paused' %}{{ schedule.pause }}{% else %}{{ schedule.play }}{% endif %}">{% if schedule.status != 'paused' %}<i class="fa fa-pause"></i>{% else %}<i class="fa fa-play"></i>{% endif %}</a></td>
                {% else %}
                    <td></td>
                {% endif %}
                
                {% if schedule.status != 'finished' and schedule.status != 'cancelled' %}
                <td><a onclick="popupDelete('{{ schedule.question_cancel }}', '{{ schedule.cancel }}');" style="cursor: pointer"><i class="fa fa-remove"></i></a>
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <center><h2 class="empty">{{ text_empty }}</h2></center>
{% endif %}

<form action="{{ url }}" method="post" content="schedule_id"></form>

{{ footer }}