{{ header }}

    <div class="container">
        <form class="form" action="{{ action }}" method="post" enctype="multipart/form-data">
            <h2 class="welcome">{{ title }}</h2>
            
            <select class="input-form" name="message_template_id" required>
                <option value="">{{ text_option_select_message_template }}</option>
                {% for template in templates %}
                    <option value="{{ template.id }}" {% if message_template_id == template.id %}selected="selected"{% endif %}>{{ template.title }} </option>
                {% endfor %}
            </select>
            
            <input class="input-form" type="text" name="title" value="{{ schedule_title }}" placeholder="{{ text_placeholder_message_title }}" minlength="3" maxlength="24" required />
            
            <select class="input-form" name="phone_number" required>
                <option value="">{{ text_option_select_phone }}</option>
                {% for phone_number in phone_numbers %}
                    <option value="{{ phone_number.id }}" {% if phone_id == phone_number.id %}selected="selected"{% endif %}>{{ phone_number.display_phone_number }}</option>
                {% endfor %}
            </select>
            
            <input class="input-form" type="datetime-local" name="date" value="{{ date }}" required></input>
            
            <!--<div id="numbers_list">
                <h3>{{ text_title_number }}</h3>
                {% for number in numbers %}
                    <input class="input-form" type="text" name="number[]" value="{{ number.customer_number }}"></input>
                {% endfor %}
            </div>-->
            
            {% if numbers %}
                <a href="{{ download }}" target="_blank" class="input-form">{{ text_download }}</a>
            {% endif %}
            
            <input class="input-form" type="file" name="file" {% if not numbers %}required{% endif %}></input>
            
            <input type="submit" class="button-form" name="submit" value="{{ send }}" />
            
            {% if error %}<p class="error">{{ error }}</p>{% endif %}
        </form>
    </div>

{{ footer }}