{{ header }}
{% if msg %}<p class="msg">{{ msg }}</p>{% endif %}

{% if error %}<p class="error">{{ error }}</p>{% endif %}

<a class="button-add" href="{{ add }}">{{ text_button_add }}</a>

<table class="form table-form">
    <thead>
        <tr>
            <th>{{ text_th_user }}</th>
            <th>{{ text_th_username }}</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.fullname }}</td>
            <td>{{ user.user }}</td>
            <td><a href="{{ user.view }}"><i class="fa fa-eye"></i></a></td>
            <td><a href="{{ user.edit }}"><i class="fa fa-edit"></i></a></td>
            <td><a onclick="popupDelete('{{ user.question_delete }}', '{{ user.delete }}', '');" style="cursor: pointer"><i class="fa fa-trash"></i></a>
        </tr>
        {% endfor %}
    </tbody>
</table>

<form action="{{ url }}" method="post" content="user_id"></form>

{{ footer }}